{% extends "layout.jinja2" %}

{% block content %}
<h1>NextStep</h1>
<p>
  NextStep is a simple, Flask-based task manager application. It utilizes Flask for both the backend and frontend (via
  Jinja2 templates) and is designed to help you track and manage tasks efficiently. The project is intended as a
  practice project to explore full-stack development using Python and Flask.
</p>

{% endblock %}